---
apiVersion: admissionregistration.k8s.io/v1beta1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
  - clientConfig:
      caBundle: Cg==
      service:
        name: webhook-service
        namespace: system
        path: /validate-operator-kubecarrier-io-v1alpha1-kubecarrier
    failurePolicy: Fail
    name: vkubecarrier.kubecarrier.io
    rules:
      - apiGroups:
          - operator.kubecarrier.io
        apiVersions:
          - v1alpha1
        operations:
          - CREATE
        resources:
          - kubecarriers
