
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.9
  creationTimestamp: null
  name: managementclusters.master.kubecarrier.io
spec:
  group: master.kubecarrier.io
  names:
    kind: ManagementCluster
    listKind: ManagementClusterList
    plural: managementclusters
    singular: managementcluster
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ManagementCluster represents a management cluster which has KubeCarrier
          installation running on it.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ManagementClusterSpec defines the desired state of ManagementCluster.
            properties:
              kubeconfigSecret:
                description: KubeconfigSecret specifies the Kubeconfig to use when
                  connecting to the Management Cluster.
                properties:
                  name:
                    minLength: 1
                    type: string
                required:
                - name
                type: object
            type: object
          status:
            description: ManagementClusterStatus defines the observed state of ManagementCluster.
            properties:
              conditions:
                description: Conditions represents the latest available observations
                  of a ManagementCluster's current state.
                items:
                  description: ManagementClusterCondition contains details for the
                    current condition of this ManagementCluster.
                  properties:
                    lastHeartbeatTime:
                      description: LastHeartbeatTime is the timestamp corresponding
                        to the last update of this condition.
                      format: date-time
                      type: string
                    lastTransitionTime:
                      description: LastTransitionTime is the last time the condition
                        transits from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: Message is the human readable message indicating
                        details about last transition.
                      type: string
                    reason:
                      description: Reason is the (brief) reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition, one of ('True',
                        'False', 'Unknown').
                      type: string
                    type:
                      description: Type is the type of the ManagementCluster condition,
                        currently ('Ready').
                      type: string
                  required:
                  - lastHeartbeatTime
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: ObservedGeneration is the most recent generation observed
                  for this ManagementCluster by the controller.
                format: int64
                type: integer
              phase:
                description: DEPRECATED. Phase represents the current lifecycle state
                  of this object. Consider this field DEPRECATED, it will be removed
                  as soon as there is a mechanism to map conditions to strings when
                  printing the property. This is only for display purpose, for everything
                  else use conditions.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
