
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - catalog.kubecarrier.io
  resources:
  - catalogentries
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - catalog.kubecarrier.io
  resources:
  - catalogentries/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - catalog.kubecarrier.io
  resources:
  - catalogs
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - catalog.kubecarrier.io
  resources:
  - catalogs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - catalog.kubecarrier.io
  resources:
  - derivedcustomresources
  verbs:
  - create
  - get
  - list
  - update
  - watch
- apiGroups:
  - catalog.kubecarrier.io
  resources:
  - derivedcustomresources/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - catalog.kubecarrier.io
  resources:
  - offerings
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - catalog.kubecarrier.io
  resources:
  - providerreferences
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - catalog.kubecarrier.io
  resources:
  - providers
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - catalog.kubecarrier.io
  resources:
  - providers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - catalog.kubecarrier.io
  resources:
  - serviceclusterreferences
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - catalog.kubecarrier.io
  resources:
  - tenantreferences
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - catalog.kubecarrier.io
  resources:
  - tenants
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - catalog.kubecarrier.io
  resources:
  - tenants/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kubecarrier.io
  resources:
  - customresourcediscoveries
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - kubecarrier.io
  resources:
  - customresourcediscoveries/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kubecarrier.io
  resources:
  - customresourcediscoverysets
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - kubecarrier.io
  resources:
  - customresourcediscoverysets/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - kubecarrier.io
  resources:
  - serviceclusterassignments
  verbs:
  - create
  - delete
  - get
  - list
  - update
  - watch
- apiGroups:
  - kubecarrier.io
  resources:
  - serviceclusters
  verbs:
  - get
  - list
  - update
  - watch
- apiGroups:
  - kubecarrier.io
  resources:
  - serviceclusters/status
  verbs:
  - get
  - patch
  - update
