
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - serviceaccounts
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apiextensions.k8s.io
  resources:
  - customresourcedefinitions
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - certificates
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - cert-manager.io
  resources:
  - issuers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.kubecarrier.io
  resources:
  - catapults
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.kubecarrier.io
  resources:
  - catapults/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - operator.kubecarrier.io
  resources:
  - elevators
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.kubecarrier.io
  resources:
  - elevators/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - operator.kubecarrier.io
  resources:
  - ferries
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.kubecarrier.io
  resources:
  - ferries/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - operator.kubecarrier.io
  resources:
  - kubecarriers
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.kubecarrier.io
  resources:
  - kubecarriers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - operator.kubecarrier.io
  resources:
  - towers
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - operator.kubecarrier.io
  resources:
  - towers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterrolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - clusterroles
  verbs:
  - bind
  - create
  - delete
  - escalate
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - roles
  verbs:
  - bind
  - create
  - delete
  - escalate
  - get
  - list
  - patch
  - update
  - watch
