
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.9-0.20200414181213-645d44dca7c0
  creationTimestamp: null
  name: regions.catalog.kubecarrier.io
spec:
  group: catalog.kubecarrier.io
  names:
    categories:
    - kubecarrier-tenant
    kind: Region
    listKind: RegionList
    plural: regions
    shortNames:
    - scr
    singular: region
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.provider.name
      name: Provider
      type: string
    - jsonPath: .spec.metadata.displayName
      name: Display Name
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: "Region exposes information about a Providers Cluster. \n Region
          objects are created automatically by KubeCarrier in Account namespaces,
          that have a service offered to them via a Catalog."
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RegionSpec defines the desired state of Region
            properties:
              metadata:
                description: Metadata contains the metadata (display name, description,
                  etc) of the ServiceCluster.
                properties:
                  description:
                    description: Description is the human-readable description of
                      this ServiceCluster.
                    type: string
                  displayName:
                    description: DisplayName is the human-readable name of this ServiceCluster.
                    type: string
                type: object
              provider:
                description: Provider references the Provider that this ServiceCluster
                  belongs to.
                properties:
                  name:
                    minLength: 1
                    type: string
                required:
                - name
                type: object
            required:
            - provider
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
