
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: tenantreferences.catalog.kubecarrier.io
spec:
  group: catalog.kubecarrier.io
  names:
    categories:
    - kubecarrier-provider
    kind: TenantReference
    listKind: TenantReferenceList
    plural: tenantreferences
    shortNames:
    - tr
    singular: tenantreference
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: "TenantReference exposes information about available Tenants
          on the platform and allows a Provider to set custom labels on them. \n TenantReference
          objects will be created for all Accounts with the role \"Tenant\" in all
          Account Namespaces with the role \"Provider\"."
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: TenantReferenceSpec defines the desired state of TenantReference
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
