apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.8
  creationTimestamp: null
  name: catalogentries.catalog.kubecarrier.io
spec:
  group: catalog.kubecarrier.io
  names:
    categories:
      - kubecarrier-provider
    kind: CatalogEntry
    listKind: CatalogEntryList
    plural: catalogentries
    shortNames:
      - ce
    singular: catalogentry
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - jsonPath: .status.phase
          name: Status
          type: string
        - jsonPath: .spec.baseCRD.name
          name: Base CRD
          type: string
        - jsonPath: .status.tenantCRD.name
          name: Tenant CRD
          type: string
        - jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: "CatalogEntry controls how to offer a CRD to other Tenants.\
            \ \n A CatalogEntry references a single CRD, adds metadata to it and allows\
            \ to limit field access for Tenants. \n **Simple Example** ```yaml apiVersion:\
            \ catalog.kubecarrier.io/v1alpha1 kind: CatalogEntry metadata:   name:\
            \ couchdbs.eu-west-1 spec:   metadata:     displayName: CouchDB     description:\
            \ The compfy database   baseCRD:     name: couchdbs.eu-west-1.loodse ```\
            \ \n **Example with limited fields** ```yaml apiVersion: catalog.kubecarrier.io/v1alpha1\
            \ kind: CatalogEntry metadata:   name: couchdbs.eu-west-1 spec:   metadata:\
            \     displayName: CouchDB     description: The compfy database   baseCRD:\
            \     name: couchdbs.eu-west-1.loodse   derive:     kindOverride: CouchDBPublic\
            \     expose:     - versions:       - v1alpha1       fields:       - jsonPath:\
            \ .spec.username       - jsonPath: .spec.password       - jsonPath: .status.phase\
            \       - jsonPath: .status.fauxtonAddress       - jsonPath: .status.address\
            \       - jsonPath: .status.observedGeneration ```"
          properties:
            apiVersion:
              description: 'APIVersion defines the versioned schema of this representation
                of an object. Servers should convert recognized schemas to the latest
                internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
              type: string
            kind:
              description: 'Kind is a string value representing the REST resource
                this object represents. Servers may infer this from the endpoint the
                client submits requests to. Cannot be updated. In CamelCase. More
                info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
              type: string
            metadata:
              type: object
            spec:
              description: CatalogEntrySpec describes the desired state of CatalogEntry.
              properties:
                baseCRD:
                  description: BaseCRD is the underlying BaseCRD objects that this
                    CatalogEntry refers to.
                  properties:
                    name:
                      minLength: 1
                      type: string
                  required:
                    - name
                  type: object
                derive:
                  description: Derive contains the configuration to generate DerivedCustomResource
                    from the BaseCRD of this CatalogEntry.
                  properties:
                    expose:
                      description: controls which fields will be present in the derived
                        CRD.
                      items:
                        description: VersionExposeConfig specifies which fields to
                          expose in the derived CRD.
                        properties:
                          fields:
                            description: specifies the fields that should be present
                              in the derived CRD.
                            items:
                              description: FieldPath is specifying how to address
                                a certain field.
                              properties:
                                jsonPath:
                                  description: JSONPath e.g. .spec.somefield.somesubfield
                                  type: string
                              required:
                                - jsonPath
                              type: object
                            minItems: 1
                            type: array
                          versions:
                            description: specifies the versions of the referenced
                              CRD, that this expose config applies to. The same version
                              may not be specified in multiple VersionExposeConfigs.
                            items:
                              type: string
                            minItems: 1
                            type: array
                        required:
                          - fields
                          - versions
                        type: object
                      type: array
                    kindOverride:
                      description: overrides the kind of the derived CRD.
                      type: string
                  required:
                    - expose
                  type: object
                metadata:
                  description: Metadata contains the metadata of the CatalogEntry
                    for the Service Catalog.
                  properties:
                    description:
                      description: Description shows the human-readable description
                        of this CatalogEntry.
                      minLength: 1
                      type: string
                    displayName:
                      description: DisplayName shows the human-readable name of this
                        CatalogEntry.
                      minLength: 1
                      type: string
                  required:
                    - description
                    - displayName
                  type: object
              required:
                - baseCRD
                - metadata
              type: object
            status:
              description: CatalogEntryStatus represents the observed state of CatalogEntry.
              properties:
                conditions:
                  description: Conditions represents the latest available observations
                    of a CatalogEntry's current state.
                  items:
                    description: CatalogEntryCondition contains details for the current
                      condition of this CatalogEntry.
                    properties:
                      lastTransitionTime:
                        description: LastTransitionTime is the last time the condition
                          transits from one status to another.
                        format: date-time
                        type: string
                      message:
                        description: Message is the human readable message indicating
                          details about last transition.
                        type: string
                      reason:
                        description: Reason is the (brief) reason for the condition's
                          last transition.
                        type: string
                      status:
                        description: Status is the status of the condition, one of
                          ('True', 'False', 'Unknown').
                        type: string
                      type:
                        description: Type is the type of the CatalogEntry condition,
                          currently ('Ready').
                        type: string
                    required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                    type: object
                  type: array
                observedGeneration:
                  description: ObservedGeneration is the most recent generation observed
                    for this CatalogEntry by the controller.
                  format: int64
                  type: integer
                phase:
                  description: DEPRECATED. Phase represents the current lifecycle
                    state of this object. Consider this field DEPRECATED, it will
                    be removed as soon as there is a mechanism to map conditions to
                    strings when printing the property. This is only for display purpose,
                    for everything else use conditions.
                  type: string
                providerCRD:
                  description: ProviderCRD holds the information about the Provider
                    facing CRD that is offered by this CatalogEntry.
                  properties:
                    apiGroup:
                      type: string
                    kind:
                      type: string
                    name:
                      type: string
                    plural:
                      type: string
                    serviceCluster:
                      description: ServiceCluster references a ServiceClusterReference
                        of this CRD.
                      properties:
                        name:
                          minLength: 1
                          type: string
                      required:
                        - name
                      type: object
                    versions:
                      items:
                        description: CRDVersion holds CRD version specific details.
                        properties:
                          name:
                            description: 'Name of this version, for example: v1, v1alpha1,
                              v1beta1'
                            type: string
                          schema:
                            description: Schema of this CRD version.
                            type: object
                            x-kubernetes-preserve-unknown-fields: true
                        required:
                          - name
                        type: object
                      type: array
                  required:
                    - apiGroup
                    - kind
                    - name
                    - plural
                    - serviceCluster
                    - versions
                  type: object
                tenantCRD:
                  description: TenantCRD holds the information about the Tenant facing
                    CRD that is offered by this CatalogEntry.
                  properties:
                    apiGroup:
                      type: string
                    kind:
                      type: string
                    name:
                      type: string
                    plural:
                      type: string
                    serviceCluster:
                      description: ServiceCluster references a ServiceClusterReference
                        of this CRD.
                      properties:
                        name:
                          minLength: 1
                          type: string
                      required:
                        - name
                      type: object
                    versions:
                      items:
                        description: CRDVersion holds CRD version specific details.
                        properties:
                          name:
                            description: 'Name of this version, for example: v1, v1alpha1,
                              v1beta1'
                            type: string
                          schema:
                            description: Schema of this CRD version.
                            type: object
                            x-kubernetes-preserve-unknown-fields: true
                        required:
                          - name
                        type: object
                      type: array
                  required:
                    - apiGroup
                    - kind
                    - name
                    - plural
                    - serviceCluster
                    - versions
                  type: object
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
