
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: accounts.catalog.kubecarrier.io
spec:
  group: catalog.kubecarrier.io
  names:
    categories:
    - kubecarrier-admin
    kind: Account
    listKind: AccountList
    plural: accounts
    shortNames:
    - acc
    singular: account
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.namespaceName
      name: Account Namespace
      type: string
    - jsonPath: .spec.displayName
      name: Display Name
      type: string
    - jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Account is the generic Kubecarrier actor representation in the
          KubeCarrier control-plane. It has its own namespace and uses various roles,
          provider and tenant role being the most important.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AccountSpec defines the desired state of Account.
            properties:
              metadata:
                description: "Metadata\tcontains additional human readable account
                  details"
                properties:
                  description:
                    description: Description shows the human-readable description
                      of this Account.
                    minLength: 1
                    type: string
                  displayName:
                    description: DisplayName shows the human-readable name of this
                      Account.
                    minLength: 1
                    type: string
                type: object
              roles:
                description: Roles this account uses
                items:
                  description: AccountRole type represent possible, currency implemented
                    account roles
                  enum:
                  - Provider
                  - Tenant
                  type: string
                minItems: 1
                type: array
            required:
            - roles
            type: object
          status:
            description: AccountStatus defines the observed state of Account.
            properties:
              conditions:
                description: Conditions represents the latest available observations
                  of a Account's current state.
                items:
                  description: AccountCondition contains details for the current condition
                    of this Account.
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the last time the condition
                        transits from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: Message is the human readable message indicating
                        details about last transition.
                      type: string
                    reason:
                      description: Reason is the (brief) reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition, one of ('True',
                        'False', 'Unknown').
                      type: string
                    type:
                      description: Type is the type of the Account condition, currently
                        ('Ready').
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              namespaceName:
                description: NamespaceName is the name of the namespace that the Account
                  manages.
                type: string
              observedGeneration:
                description: ObservedGeneration is the most recent generation observed
                  for this Account by the controller.
                format: int64
                type: integer
              phase:
                description: DEPRECATED. Phase represents the current lifecycle state
                  of this object. Consider this field DEPRECATED, it will be removed
                  as soon as there is a mechanism to map conditions to strings when
                  printing the property. This is only for display purpose, for everything
                  else use conditions.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
