apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.4
  creationTimestamp: null
  name: catalogentries.catalog.kubecarrier.io
spec:
  group: catalog.kubecarrier.io
  names:
    categories:
      - kubecarrier-provider
    kind: CatalogEntry
    listKind: CatalogEntryList
    plural: catalogentries
    shortNames:
      - ce
    singular: catalogentry
  scope: Namespaced
  versions:
    - additionalPrinterColumns:
        - jsonPath: .status.phase
          name: Status
          type: string
        - jsonPath: .metadata.creationTimestamp
          name: Age
          type: date
      name: v1alpha1
      schema:
        openAPIV3Schema:
          description: CatalogEntry reference to the CRD that the provider wants to
            provide as service to the tenant.
          properties:
            apiVersion:
              description: 'APIVersion defines the versioned schema of this representation
                of an object. Servers should convert recognized schemas to the latest
                internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
              type: string
            kind:
              description: 'Kind is a string value representing the REST resource
                this object represents. Servers may infer this from the endpoint the
                client submits requests to. Cannot be updated. In CamelCase. More
                info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
              type: string
            metadata:
              type: object
            spec:
              description: CatalogEntrySpec defines the desired state of CatalogEntry
              properties:
                metadata:
                  description: Metadata contains the metadata (display name, description,
                    etc) of the CatalogEntry.
                  properties:
                    description:
                      description: Description shows the human-readable description
                        of this CatalogEntry.
                      type: string
                    displayName:
                      description: DisplayName shows the human-readable name of this
                        CatalogEntry.
                      type: string
                  type: object
                referencedCRD:
                  description: ReferencedCRD is the underlying ReferencedCRD objects
                    that this CatalogEntry refers to.
                  properties:
                    name:
                      type: string
                  required:
                    - name
                  type: object
              type: object
            status:
              description: CatalogEntryStatus defines the observed state of CatalogEntry.
              properties:
                conditions:
                  description: Conditions represents the latest available observations
                    of a CatalogEntry's current state.
                  items:
                    description: CatalogEntryCondition contains details for the current
                      condition of this CatalogEntry.
                    properties:
                      lastTransitionTime:
                        description: LastTransitionTime is the last time the condition
                          transits from one status to another.
                        format: date-time
                        type: string
                      message:
                        description: Message is the human readable message indicating
                          details about last transition.
                        type: string
                      reason:
                        description: Reason is the (brief) reason for the condition's
                          last transition.
                        type: string
                      status:
                        description: Status is the status of the condition, one of
                          ('True', 'False', 'Unknown').
                        type: string
                      type:
                        description: Type is the type of the CatalogEntry condition,
                          currently ('Ready').
                        type: string
                    required:
                      - lastTransitionTime
                      - message
                      - reason
                      - status
                      - type
                    type: object
                  type: array
                crd:
                  description: CRD holds the information about the underlying ReferencedCRD
                    that are offered by this CatalogEntry.
                  properties:
                    apiGroup:
                      type: string
                    kind:
                      type: string
                    name:
                      type: string
                    serviceCluster:
                      description: ServiceCluster references a ServiceClusterReference
                        of this CRD.
                      properties:
                        name:
                          type: string
                      required:
                        - name
                      type: object
                    versions:
                      items:
                        description: CRDVersion holds CRD version specific details.
                        properties:
                          name:
                            description: 'Name of this version, for example: v1, v1alpha1,
                              v1beta1'
                            type: string
                          schema:
                            description: Schema of this CRD version.
                            type: object
                            x-kubernetes-preserve-unknown-fields: true
                        required:
                          - name
                        type: object
                      type: array
                  required:
                    - apiGroup
                    - kind
                    - name
                    - serviceCluster
                    - versions
                  type: object
                observedGeneration:
                  description: ObservedGeneration is the most recent generation observed
                    for this CatalogEntry by the controller.
                  format: int64
                  type: integer
                phase:
                  description: DEPRECATED. Phase represents the current lifecycle
                    state of this object. Consider this field DEPRECATED, it will
                    be removed as soon as there is a mechanism to map conditions to
                    strings when printing the property. This is only for display purpose,
                    for everything else use conditions.
                  type: string
              type: object
          type: object
      served: true
      storage: true
      subresources:
        status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
