
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.9
  creationTimestamp: null
  name: elevators.operator.kubecarrier.io
spec:
  group: operator.kubecarrier.io
  names:
    kind: Elevator
    listKind: ElevatorList
    plural: elevators
    singular: elevator
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: "Elevator manages the deployment of the Elevator controller manager.
          \n For each `DerivedCustomResource` a Elevator instance is launched to propagate
          the derived CRD instance into the Namespace of it's provider."
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ElevatorSpec defines the desired state of Elevator.
            properties:
              derivedCR:
                description: References the DerivedCustomResource controlling the
                  Tenant-side CRD.
                properties:
                  name:
                    type: string
                required:
                - name
                type: object
              providerCRD:
                description: References the provider or internal CRD, that should
                  be created in the provider namespace.
                properties:
                  group:
                    type: string
                  kind:
                    type: string
                  plural:
                    type: string
                  version:
                    type: string
                required:
                - group
                - kind
                - plural
                - version
                type: object
              tenantCRD:
                description: References the public CRD that will be synced into the
                  provider namespace.
                properties:
                  group:
                    type: string
                  kind:
                    type: string
                  plural:
                    type: string
                  version:
                    type: string
                required:
                - group
                - kind
                - plural
                - version
                type: object
            required:
            - derivedCR
            - providerCRD
            - tenantCRD
            type: object
          status:
            description: ElevatorStatus defines the observed state of Elevator.
            properties:
              conditions:
                description: Conditions represents the latest available observations
                  of a Elevator's current state.
                items:
                  description: ElevatorCondition contains details for the current
                    condition of this Elevator.
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the last time the condition
                        transits from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: Message is the human readable message indicating
                        details about last transition.
                      type: string
                    reason:
                      description: Reason is the (brief) reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition, one of ('True',
                        'False', 'Unknown').
                      type: string
                    type:
                      description: Type is the type of the Elevator condition, currently
                        ('Ready').
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: ObservedGeneration is the most recent generation observed
                  for this Elevator by the controller.
                format: int64
                type: integer
              phase:
                description: DEPRECATED. Phase represents the current lifecycle state
                  of this object. Consider this field DEPRECATED, it will be removed
                  as soon as there is a mechanism to map conditions to strings when
                  printing the property. This is only for display purpose, for everything
                  else use conditions.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
