
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.9-0.20200414181213-645d44dca7c0
  creationTimestamp: null
  name: catapults.operator.kubecarrier.io
spec:
  group: operator.kubecarrier.io
  names:
    kind: Catapult
    listKind: CatapultList
    plural: catapults
    singular: catapult
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: "Catapult manages the deployment of the Catapult controller manager.
          \n A Catapult instance is started for each CustomResourceDiscovery instance
          and responsible for reconciling CRD instances across Kubernetes Clusters."
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CatapultSpec defines the desired state of Catapult.
            properties:
              managementClusterCRD:
                description: References the CRD in the Management Cluster.
                properties:
                  group:
                    type: string
                  kind:
                    type: string
                  plural:
                    type: string
                  version:
                    type: string
                required:
                - group
                - kind
                - plural
                - version
                type: object
              serviceCluster:
                description: References the ServiceCluster object that this object
                  belongs to.
                properties:
                  name:
                    type: string
                required:
                - name
                type: object
              serviceClusterCRD:
                description: References the CRD in the ServiceCluster.
                properties:
                  group:
                    type: string
                  kind:
                    type: string
                  plural:
                    type: string
                  version:
                    type: string
                required:
                - group
                - kind
                - plural
                - version
                type: object
              webhookStrategy:
                default: None
                description: 'WebhookStrategy configs the webhook of the CRD which
                  is registered in the management cluster by this Catapult. There
                  are two possible values for this configuration {None (by default),
                  ServiceCluster} None (by default): Webhook will only check if there
                  is an available ServiceClusterAssignment in the current Namespace.
                  ServiceCluster: Webhook will call webhooks of the CRD in the ServiceCluster
                  with dry-run flag.'
                enum:
                - None
                - ServiceCluster
                type: string
            required:
            - managementClusterCRD
            - serviceCluster
            - serviceClusterCRD
            type: object
          status:
            description: CatapultStatus defines the observed state of Catapult.
            properties:
              conditions:
                description: Conditions represents the latest available observations
                  of a Catapult's current state.
                items:
                  description: CatapultCondition contains details for the current
                    condition of this Catapult.
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the last time the condition
                        transits from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: Message is the human readable message indicating
                        details about last transition.
                      type: string
                    reason:
                      description: Reason is the (brief) reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition, one of ('True',
                        'False', 'Unknown').
                      type: string
                    type:
                      description: Type is the type of the Catapult condition, currently
                        ('Ready').
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: ObservedGeneration is the most recent generation observed
                  for this Catapult by the controller.
                format: int64
                type: integer
              phase:
                description: DEPRECATED. Phase represents the current lifecycle state
                  of this object. Consider this field DEPRECATED, it will be removed
                  as soon as there is a mechanism to map conditions to strings when
                  printing the property. This is only for display purpose, for everything
                  else use conditions.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
