
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.9
  creationTimestamp: null
  name: ferries.operator.kubecarrier.io
spec:
  group: operator.kubecarrier.io
  names:
    kind: Ferry
    listKind: FerryList
    plural: ferries
    singular: ferry
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: "Ferry manages the deployment of the Ferry controller manager.
          \n Ferry lives in the Provider Namespace. For each ferry the KubeCarrier
          operator spins up the ferry controller deployment, necessary roles, service
          accounts, and role bindings. \n The reason for ferry controller deployment
          are multiples: * security --> KubeCarrier operator has greater privileges
          then ferry controller * resource isolation --> each ferry controller pod
          operates only on a single service cluster, \t\tthus resource allocation
          and monitoring is separate per ferry. This allows finer grade \t\tresource
          tuning and monitoring * flexibility --> If needed different ferries could
          have different deployments depending on \t\ttheir specific need (e.g. KubeCarrier
          image version for gradual rolling upgrade, different resource allocation,
          etc),"
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: FerrySpec defines the desired state of Ferry.
            properties:
              kubeconfigSecret:
                description: KubeconfigSecret specifies the Kubeconfig to use when
                  connecting to the ServiceCluster.
                properties:
                  name:
                    type: string
                required:
                - name
                type: object
            required:
            - kubeconfigSecret
            type: object
          status:
            description: FerryStatus defines the observed state of Ferry.
            properties:
              conditions:
                description: Conditions is a list of all conditions this Ferry is
                  in.
                items:
                  description: FerryCondition contains details for the current condition
                    of this Ferry.
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the last time the condition
                        transit from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: Message is the human readable message indicating
                        details about last transition.
                      type: string
                    reason:
                      description: Reason is the (brief) reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status of the condition, one of ('True', 'False',
                        'Unknown').
                      type: string
                    type:
                      description: Type of the condition, currently ('Ready').
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: The most recent generation observed by the controller.
                format: int64
                type: integer
              phase:
                description: DEPRECATED. Phase represents the current lifecycle state
                  of this object. Consider this field DEPRECATED, it will be removed
                  as soon as there is a mechanism to map conditions to strings when
                  printing the property. This is only for display purpose, for everything
                  else use conditions.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
