
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.9
  creationTimestamp: null
  name: apiservers.operator.kubecarrier.io
spec:
  group: operator.kubecarrier.io
  names:
    kind: APIServer
    listKind: APIServerList
    plural: apiservers
    singular: apiserver
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: APIServer manages the deployment of the KubeCarrier central API
          server.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: APIServerSpec defines the desired state of APIServer
            properties:
              oidc:
                description: OIDC specifies OpenID Connect configuration for API Server
                  authentication
                properties:
                  apiAudiences:
                    description: APIAudiences are the audiences that the API server
                      identitifes as. The (API audiences unioned with the ClientIDs)
                      should have a non-empty intersection with the request's target
                      audience. This preserves the behavior of the OIDC authenticator
                      pre-introduction of API audiences.
                    items:
                      type: string
                    type: array
                  certificateAuthority:
                    description: CertificateAuthority references the secret containing
                      issuer's CA in a PEM encoded root certificate of the provider.
                    properties:
                      name:
                        type: string
                    required:
                    - name
                    type: object
                  clientID:
                    description: "ClientID the JWT must be issued for, the \"sub\"
                      field. This plugin only trusts a single client to ensure the
                      plugin can be used with public providers. \n The plugin supports
                      the \"authorized party\" OpenID Connect claim, which allows
                      specialized providers to issue tokens to a client for a different
                      client. See: https://openid.net/specs/openid-connect-core-1_0.html#IDToken"
                    type: string
                  groupsClaim:
                    description: GroupsClaim, if specified, causes the OIDCAuthenticator
                      to try to populate the user's groups with an ID Token field.
                      If the GroupsClaim field is present in an ID Token the value
                      must be a string or list of strings.
                    type: string
                  groupsPrefix:
                    description: GroupsPrefix, if specified, causes claims mapping
                      to group names to be prefixed with the value. A value "oidc:"
                      would result in groups like "oidc:engineering" and "oidc:marketing".
                    type: string
                  issuerURL:
                    description: "IssuerURL is the URL the provider signs ID Tokens
                      as. This will be the \"iss\" field of all tokens produced by
                      the provider and is used for configuration discovery. \n The
                      URL is usually the provider's URL without a path, for example
                      \"https://accounts.google.com\" or \"https://login.salesforce.com\".
                      \n The provider must implement configuration discovery. See:
                      https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderConfig"
                    type: string
                  requiredClaims:
                    additionalProperties:
                      type: string
                    description: RequiredClaims, if specified, causes the OIDCAuthenticator
                      to verify that all the required claims key value pairs are present
                      in the ID Token.
                    type: object
                  supportedSigningAlgs:
                    default:
                    - RS256
                    description: "SupportedSigningAlgs sets the accepted set of JOSE
                      signing algorithms that can be used by the provider to sign
                      tokens. \n https://tools.ietf.org/html/rfc7518#section-3.1 \n
                      This value defaults to RS256, the value recommended by the OpenID
                      Connect spec: \n https://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation"
                    items:
                      type: string
                    type: array
                  usernameClaim:
                    default: sub
                    description: UsernameClaim is the JWT field to use as the user's
                      username.
                    type: string
                  usernamePrefix:
                    description: UsernamePrefix, if specified, causes claims mapping
                      to username to be prefix with the provided value. A value "oidc:"
                      would result in usernames like "oidc:john".
                    type: string
                required:
                - certificateAuthority
                - clientID
                - issuerURL
                type: object
              staticUsers:
                description: StaticUsers specifies static users configuration for
                  API Server authentication
                properties:
                  htpasswdSecret:
                    description: HtpassswdSecret specifies the htpasswd secret to
                      use for static user authentication.
                    properties:
                      name:
                        type: string
                    required:
                    - name
                    type: object
                required:
                - htpasswdSecret
                type: object
              tlsSecretRef:
                description: TLSSecretRef references the TLS certificate and private
                  key for serving the KubeCarrier API.
                properties:
                  name:
                    type: string
                required:
                - name
                type: object
            type: object
          status:
            description: APIServerStatus defines the observed state of APIServer
            properties:
              conditions:
                description: Conditions represents the latest available observations
                  of a APIServer's current state.
                items:
                  description: APIServerCondition contains details for the current
                    condition of this APIServer.
                  properties:
                    lastTransitionTime:
                      description: LastTransitionTime is the last time the condition
                        transits from one status to another.
                      format: date-time
                      type: string
                    message:
                      description: Message is the human readable message indicating
                        details about last transition.
                      type: string
                    reason:
                      description: Reason is the (brief) reason for the condition's
                        last transition.
                      type: string
                    status:
                      description: Status is the status of the condition, one of ('True',
                        'False', 'Unknown').
                      type: string
                    type:
                      description: Type is the type of the APIServer condition, currently
                        ('Ready').
                      type: string
                  required:
                  - lastTransitionTime
                  - message
                  - reason
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: ObservedGeneration is the most recent generation observed
                  for this APIServer by the controller.
                format: int64
                type: integer
              phase:
                description: DEPRECATED. Phase represents the current lifecycle state
                  of this object. Consider this field DEPRECATED, it will be removed
                  as soon as there is a mechanism to map conditions to strings when
                  printing the property. This is only for display purpose, for everything
                  else use conditions.
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
